<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <tr>
            <td>Name</td>
            <td>Description</td>
            <td>Date de fabrication</td>
            <td>Date d'experation</td>
            <td>Action</td>
        </tr>
        
    <% for (medicament of medicaments) { %> 
        <tr></tr>
<td><%= medicament.name  %> </td>
<td><%= medicament.description  %> </td>
<td><%= medicament.dateFab  %> </td>
<td><%= medicament.dateExp  %> </td>
<td>
    <button>affiche</button>
    <button>delete</button>
</td>
</tr>
        <% } %> 
   
    </table>
</body>
</html>